:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

html,
body,
#app {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#app {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    // 这些样式来自于 jetbrains fleet 官网
    // these style from jetbrains fleet official page
    background: scroll no-repeat center radial-gradient(rgba(25, 25, 28, 0) 50%, #19191c 80%),
      conic-gradient(
        #9c3cf7 0,
        #19191c 15.2%,
        #19191c 18.2%,
        #1e1ae8 20.5%,
        #19191c 30.2%,
        #19191c 50%,
        #0e0ab4 56.5%,
        #1e1ae8 59.4%,
        #060551 66.2%,
        #101057 72.9%,
        #242473 85.1%,
        #1e1ae8 89.1%,
        #0a06b7 90.6%,
        #19191c 93.7%,
        #9c3cf7 100%
      );
    background-size: cover;
    filter: blur(3px);
    animation: scroll-bgc 3s linear infinite alternate-reverse;

    @keyframes scroll-bgc {
      from {
        transform: scale(2) rotate(0deg);
      }
      to {
        transform: scale(2) rotate(20deg);
      }
    }
  }

  .selector-area {
    width: 90%;
    height: 90%;
    user-select: none;
    border: 1px dashed hsla(0, 0%, 100%, 0.479);
    border-radius: 5px;
    position: relative;

    // 框选器
    .selector-box {
      z-index: 233;
      position: absolute;
      /*
        设置宽高默认占满整个拖拽区域
      */
      right: 0;
      top: 0;
      bottom: 0;
      left: 0;
      background-color: #36d0ff5e;
      /* 更改变换坐标原点 */
      transform-origin: left top;
      /*
        初始讲缩放设置为0, 后续通过 js 判断拖拽坐标按照比例回写 style.cssText 字符串
        同时改变 translate 属性值来实现设置视觉上的起始位置
      */
      transform: scale(0);
      will-change: transform;
    }

    .content-area {
      position: absolute;
      width: 500px;
      height: 500px;
      margin: 100px calc(calc(100% - 500px) / 2);
      display: grid;

      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(6, 1fr);
      gap: 20px;

      .item {
        text-align: center;
        background-color: rgba(231, 127, 7, 0.075);
        backdrop-filter: blur(12px);
        display: flex;
        justify-content: center;
        align-items: center;
        text-shadow: 0 0 2px black;
        font-weight: bold;
        border-radius: 5px;
        box-shadow: 0 0 3px hsla(0, 0%, 0%, 0.521), 0 0 3px black inset;

        @at-root &.when-selected {
          position: relative;

          &::before {
            content: "";
            position: absolute;
            box-sizing: border-box;
            right: -16%;
            top: -16%;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            border: 2px dashed rgb(60, 255, 245);
            animation: fading 1000ms ease-out forwards;
          }

          &::after {
            content: "";
            position: absolute;
            border-radius: 5px;
            border: 2px dashed rgb(60, 255, 245);
            width: 110%;
            height: 110%;
            margin: -5%;
            animation: fading 200ms ease-out forwards;
          }

          @keyframes fading {
            from {
              opacity: 0;
              transform: scale(0.8);
            }
            to {
              opacity: 1;
              transform: scale(1);
            }
          }
        }
      }
    }
  }
}
